@{
    ViewBag.Title = "Contact";
}
<h2>Nous contacter:</h2>

<address>
    Notre écoute et nos compétences<br />
    sont à votre service.<br />
    Adresse : Route Taniour Km 7 Chihia a coté du magasin carrefour<br />

</address>

    <address>
        Avenue 14 Janvier Imm.<br />
        Karama 1ère etage App 12<br />
        3003 - SFAX - TUNISIE<br />

        <abbr title="Phone">P:</abbr>
        (+216) 74 400 110
    </address>

    <address>
        <strong>Site:</strong>   <a href="http://www.logicom-dev.com.tn/accueil.php?idm=1">Logicom.com</a><br />

    </address>
